/* Reset entire document padding and margin */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Colour for background of page */

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Generic float styles */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Header styles */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles for h1s that are children of the header */

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styles for the 'seo' span that are children of h1s that are children of the header */

header h1 .seo {
    color: #d9dcd6;
}

/* Nav styling within header - including links */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hero (large image below header) styles */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles for the main content of the document */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling for direct section children of the main element */

main > section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* And the images in those section elements */

main > section img {
    max-height: 200px;
}
main > section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Image sizing and styles for 'lead generation' aside */

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer styling */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
